  archetype_config_overrides = {
    root = {
      archetype_id = "es_root"
      parameters = {
        Deploy-Resource-Diag = {
          logAnalytics = {
            lz_key        = "{{ config.tfstates.platform.management.lz_key_name }}"
            output_key    = "diagnostics"
            resource_type = "log_analytics"
            resource_key  = "central_logs_{{config.caf_terraform.launchpad.regions[config.caf_terraform.launchpad.default_region_key].slug}}"
            attribute_key = "id"
          }
          "profileName" = {
            value = "eslz-diagnostic-log"
          }
        }
      }
      access_control = {
      }
    }
  }
