subscription_id_overrides = {
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
  root           = []
{% else %}
  root           = [
    "{{ config.caf_terraform.launchpad.subscription_id }}"
  ]
{% endif %}
  decommissioned = []
  sandboxes      = []
  landing-zones  = []
  platform       = []
  connectivity   = []
  management     = []
  identity       = []
}

subscription_id_overrides_by_keys = {
{% for mg_group in ["root", "decommissioned", "sandboxes", "landing-zones", "platform", "connectivity", "management", "identity"] %}
  {{ mg_group }}      = [
{% if mg.archetype_definitions[mg_group]["subscription_id_overrides_by_keys"] is defined %}
  {% for sub in mg.archetype_definitions[mg_group]["subscription_id_overrides_by_keys"] %}
 { lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}", key = "{{ sub }}"}
  {% endfor %}
{% endif %}
  ]
{% endfor %}
}
