subscription_id_overrides = {
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
  root           = []
{% else %}
  root           = [
    "{{ config.caf_terraform.launchpad.subscription_id }}"
  ]
{% endif %}
  decommissioned = []
  sandboxes      = []
  landing-zones  = ["89cbdaf0-0e38-4cc2-a186-554fa353aaeb"]
  platform       = []
  connectivity   = []
  management     = []
  identity       = []
}
