resource_groups = {
{% for key, resource_group in connectivity_virtual_wan.resource_groups.items() %}
{% set region_key = resource_group.region_key | default(config.caf_terraform.launchpad.default_region_key) %}
{% set slug = config.caf_terraform.launchpad.regions[region_key].slug %}
  {{ key }} = {
    name   = "{{ connectivity_virtual_wan.application_name | default('caf', boolean=true) }}-{{ subscription_type | default('caf',boolean=true) }}-{{ slug }}-{{ resource_group.name }}"
    region = "{{ resource_group.region_key | default(config.caf_terraform.launchpad.default_region_key) }}"
{% if resource_group.tags is defined %}
    tags   = {
{% for tag_key, tag_value in resource_group.tags.items() %}
      {{ tag_key }} = "{{ tag_value }}"
{% endfor %}
    }
{% endif %}
  }
{% endfor %}
}
