
azure_devops = {

  url     = "https://dev.azure.com/{{ devops.org }}/"
  project = "{{ devops.project }}"

  # PAT Token should be updated manually to the keyvault after running launchpad
  pats = {
    admin = {
      secret_name  = "azdo-pat-admin"
      lz_key       = "{{ tfstates.launchpad.lz_key_name }}"
      keyvault_key = "level0"
    }
  }

  service_endpoints = {
    {{ devops.project }} = {
      endpoint_name       = "{{ config.caf_terraform.launchpad.subscription_name }}"
      subscription_name   = "{{ config.caf_terraform.launchpad.subscription_name }}"
      subscription_id     = "{{ config.caf_terraform.launchpad.subscription_id }}"
      aad_app_key         = "{{ devops.project }}_devops"
      secret_keyvault_key = "devops"
    }
  }

  variable_groups = {
    global = {
      name         = "release-global-{{ config.caf_terraform.launchpad.caf_environment }}" # changing that name requires to change it in the devops agents yaml variables group
      allow_access = true
      variables = {
        HOME_FOLDER_USER    = "vsts_azpcontainer"
        ROVER_IMAGE         = "aztfmod/rover-preview:1.0.9-2110.200507"
        ROVER_RUNNER        = "true"
        TF_CLI_ARGS         = "'-no-color'"
        TF_CLI_ARGS_init    = ""
        TF_CLI_ARGS_plan    = "'-input=false'"
        TF_VAR_ARGS_destroy = "'-auto-approve -refresh=false'"
        ENVIRONMENT         = "{{ config.caf_terraform.launchpad.caf_environment }}"
        LANDINGZONE_BRANCH  = "master"
      }
    }

{% for num in range(1, config.caf_terraform.launchpad.number_of_levels) %}
    level{{ num }} = {
      name         = "release-level{{ num }}-{{ config.caf_terraform.launchpad.caf_environment }}"
      allow_access = true
      variables = {
        TF_VAR_pipeline_level = "level{{ num }}"
        ARM_USE_MSI           = "true"
        AGENT_POOL            = "caf-{{ config.caf_terraform.launchpad.caf_environment }}-level{{ num }}"
      }
    }
{% endfor %}
{% for secret in ['client-id', 'client-secret', 'tenant-id'] %}
    level1_{{ secret | replace("-", "_") }} = {
      name         = "release-level1-{{ config.caf_terraform.launchpad.caf_environment }}-{{ secret }}"
      allow_access = true
      keyvault = {
        lz_key              = "{{ tfstates.launchpad.lz_key_name }}"
        keyvault_key        = "level0"
        serviceendpoint_key = "{{ devops.project }}"
      }
      variables = {
        name = "aadapp-caf-launchpad-level0-{{ secret }}"
      }
    }
{% endfor %}

    level1_sp_subscription = {
      name         = "release-level1-sp-subscription-{{ config.caf_terraform.launchpad.caf_environment }}"
      allow_access = true
      keyvault = {
        lz_key              = "{{ tfstates.launchpad.lz_key_name }}"
        keyvault_key        = "level0"
        serviceendpoint_key = "{{ devops.project }}"
      }
      variables = {
        name = "subscription-id"
      }
    }

  }

  pipelines = {
{% for action in ["plan", "apply"] %}
    caf_management_{{ action }} = {
      name          = "caf_management_{{ action }}"
      folder        = "\\configuration\\level1"
      yaml          = ".pipelines/pipeline.yaml"
      repo_type     = "TfsGit"
      git_repo_name = "{{ devops.pipeline_repo.name }}"
      branch_name = "{{ devops.pipeline_repo.branch }}"
      variable_group_keys = ["global", "level1", "level1_client_id", "level1_client_secret", "level1_tenant_id", "level1_sp_subscription"]
      variables = {
          landingZoneName = "caf_solution",
          buildName = "management",
          level = "level1",
          tfAction = "{{ action }}",
          configurationSubdirectory = "",
      }
    }
{% endfor %}
  }
}
